<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:core="http://jax-ws.dev.java.net/spring/core"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:servlet="http://jax-ws.dev.java.net/spring/servlet"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://jax-ws.dev.java.net/spring/core http://jax-ws.java.net/spring/core.xsd
		http://jax-ws.dev.java.net/spring/servlet http://jax-ws.dev.java.net/spring/servlet.xsd">


	<bean id="service" class="com.sun.calc.impl.service.CalcService"/>
	
	<bean id="calImpl" class="com.sun.calc.impl.CalculatorImpl">
		<property name="service" ref="service"/>
	</bean>
	
	<servlet:binding url="/calc">
		<servlet:service >
			<core:service bean="#calImpl"/>
		</servlet:service>
	</servlet:binding>			
</beans>
